build/_output/onos-e2sub
**/_output
*.DS_Store
coverage.txt
*.coverprofile*
.idea
.vscode
*.o
*.a
.project
.cproject
.eclipse
.settings/
coverage.xml
go-coverage-output.out
go-test-output.out
report.xml
